In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [93]:
df = pd.read_parquet('veridion_entity_resolution_challenge.snappy.parquet')
pd.options.display.max_columns = None
df.head(n=6)

,company_name,company_legal_names,company_commercial_names,main_country_code,main_country,main_region,main_city_district,main_city,main_postcode,main_street,main_street_number,main_latitude,main_longitude,main_address_raw_text,locations,num_locations,company_type,year_founded,lnk_year_founded,short_description,long_description,business_tags,business_model,product_type,naics_vertical,naics_2022_primary_code,naics_2022_primary_label,naics_2022_secondary_codes,naics_2022_secondary_labels,main_business_category,main_industry,main_sector,primary_phone,phone_numbers,primary_email,emails,other_emails,website_url,website_domain,website_tld,website_language_code,facebook_url,twitter_url,instagram_url,linkedin_url,ios_app_url,android_app_url,youtube_url,tiktok_url,alexa_rank,sics_codified_industry,sics_codified_industry_code,sics_codified_subsector,sics_codified_subsector_code,sics_codified_sector,sics_codified_sector_code,sic_codes,sic_labels,isic_v4_codes,isic_v4_labels,nace_rev2_codes,nace_rev2_labels,created_at,last_updated_at,website_number_of_pages,generated_description,generated_business_tags,status,domains,all_domains,revenue,revenue_type,employee_count,employee_count_type,inbound_links_count
0,Owens Liquors,None,Owens Liquors,US,United States,South Carolina,None,Pawleys Island,29585,Ocean Highway,13707,33.4798501,-79.1001306,"13707 Ocean Hwy, Pawleys Island, SC 29585, Uni...","US, United States, South Carolina, Pawleys Isl...",1,Private,None,None,Owens Liquors is a beer & liquor store based i...,None,None,Retail,Nondurable Products,Beer & Liquor Stores,445320,"Beer, Wine, and Liquor Retailers",None,None,Beer & Liquor Stores,Beverages,Food & Beverages,+18433140354,+18433140354,None,None,None,https://pawleysisland.owensliquors.com/,owensliquors.com,com,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,5411 | 5431 | 5142 | 5961 | 5921 | 5961 | 5181...,Grocery Stores (frozen food and freezer plan p...,4722 | 4781 | 4791 | 4799,Retail sale of beverages in specialized stores...,47.91 | 47.25 | 47.81 | 47.99,Retail sale via mail order houses or via Inter...,2021-11-05 21:06:53,2024-10-23 15:40:49.221,None,Owens Liquors is a retail establishment locate...,Retail Trade | Liquor Stores | Wine & Liquor,Active,None,None,None,None,None,None,None
1,Club Tarneit,None,Club Tarneit,AU,Australia,Victoria,Tarneit,City Of Wyndham,3029,None,None,None,None,", Tarneit, Victoria, 3029, Australia","AU, Australia, Victoria, City of Wyndham, 3029...",1,Private,None,None,Club Tarneit is a dance/night club based in Ci...,Club Tarneit - Experience the Difference. Dive...,Events & Service,Services,Consumer Services,None,None,None,None,None,Dance Clubs & Night Clubs,Pubs & Bars,Accommodation & Food Services,None,None,None,None,None,https://www.clubtarneit.com.au/,clubtarneit.com.au,com.au,None,None,None,None,http://www.linkedin.com/company/club-tarneit,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,2024-08-17 08:08:55.74,2024-11-23 01:22:57.613,None,None,None,Active,None,None,None,None,9,extracted,None
2,AAA Auto Otrokovice Zlín,None,AAA Auto Otrokovice Zlín,CZ,Czechia,Zlín,Kvítkovice U Otrokovic,Otrokovice,765 02,Zlínská,260,49.19930449999999,17.545311599999998,"Zlínská 260, 765 02 Otrokovice 2, Czechia","CZ, Czechia, Zlín, Otrokovice, 765 02, Zlínská...",1,Private,None,None,AAA Auto Otrokovice Zlín is an automobile deal...,None,None,Retail,Durable Products,Automobile Dealers & Manufacturers,441120,Used Car Dealers,None,None,Automobile Dealers & Manufacturers,Automobile Dealers & Manufacturers,Automotive,+420800400450,+420800400450,None,None,None,https://www.aaaauto.cz/?bsw=251,aaaauto.cz,cz,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,5521,Motor Vehicle Dealers (Used Only),4510,Sale of motor vehicles,45.11 | 45.19,Sale of cars and light motor vehicles | Sale o...,2023-06-30 17:31:17.732,2025-01-03 03:48:34.964,None,AAA Auto Otrokovice (Zlín) is a car dealership...,In-store Shopping | Investment Management Serv...,Active,None,None,None,None,None,None,None
3,Gisinger GmbH,Gisinger GmbH,None,DE,Germany,Baden-Württemberg,None,Ühlingen-Birkendorf,79777,Berauer Straße,19,47.7134802,8.285150677517294,"19 Berauer Strasse, Uhlingen-Birkendorf, Baden...","DE, Germany, Baden-Württemberg, Ühlingen-Birke...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,http://www.linkedin.com/company/gisinger-gmbh,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,2024-07-24 12:13:08.98,2024-07-24 12:13:08.98,None,None,None,Active,None,None,None,None,None,None,None
4,Kasana Life,None,Kasana Life,US,United States,Connecticut,None,Litchfield,06759,None,None,None,None,", Litchfield, Connecticut, 06759, United States","US, United States, Connecticut, Litchfield, 06...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,+19174887460,+19174887460,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,2023-10-04 18:44:28.126,2024-11-07 19:33:25.02,None,None,None,Active,None,None,None,None,None,None,None
5,BAM BROW & MAKEUP STUDIO,None,BAM BROW & MAKEUP STUDIO,AU,Australia,Western Australia,None,Mandurah,6201,None,None,None,None,"2/10 Thornborough Rd, Mandurah, Western Austra...","AU, Australia, Western Australia, Mandurah, 62...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,https://www.bammakeupstudio.com.au/,bammakeupstudio.com.au,com.au,None,None,None,https://www.instagram.com/bammakeupstudio/,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,2024-07-18 07:36:17.908,2024-07-18 07:36:17.908,None,None,None,Active,None,None,None,None,None,None,None

In [94]:
df.columns

Index(['company_name', 'company_legal_names', 'company_commercial_names',
       'main_country_code', 'main_country', 'main_region',
       'main_city_district', 'main_city', 'main_postcode', 'main_street',
       'main_street_number', 'main_latitude', 'main_longitude',
       'main_address_raw_text', 'locations', 'num_locations', 'company_type',
       'year_founded', 'lnk_year_founded', 'short_description',
       'long_description', 'business_tags', 'business_model', 'product_type',
       'naics_vertical', 'naics_2022_primary_code', 'naics_2022_primary_label',
       'naics_2022_secondary_codes', 'naics_2022_secondary_labels',
       'main_business_category', 'main_industry', 'main_sector',
       'primary_phone', 'phone_numbers', 'primary_email', 'emails',
       'other_emails', 'website_url', 'website_domain', 'website_tld',
       'website_language_code', 'facebook_url', 'twitter_url', 'instagram_url',
       'linkedin_url', 'ios_app_url', 'android_app_url', 'youtube_url',
       'tiktok_url', 'alexa_rank', 'sics_codified_industry',
       'sics_codified_industry_code', 'sics_codified_subsector',
       'sics_codified_subsector_code', 'sics_codified_sector',
       'sics_codified_sector_code', 'sic_codes', 'sic_labels', 'isic_v4_codes',
       'isic_v4_labels', 'nace_rev2_codes', 'nace_rev2_labels', 'created_at',
       'last_updated_at', 'website_number_of_pages', 'generated_description',
       'generated_business_tags', 'status', 'domains', 'all_domains',
       'revenue', 'revenue_type', 'employee_count', 'employee_count_type',
       'inbound_links_count'],
      dtype='object')

In [95]:
null_values = pd.DataFrame({'Column_Name' : df.columns , 'Null_Values' : df.isnull().sum().tolist()})
null_values

                     Column_Name  Null_Values
0                   company_name          829
1            company_legal_names        26556
2       company_commercial_names         5325
3              main_country_code         2031
4                   main_country         2031
5                    main_region         3334
6             main_city_district        27467
7                      main_city         3844
8                  main_postcode         9626
9                    main_street        13467
10            main_street_number        16412
11                 main_latitude        16415
12                main_longitude        16415
13         main_address_raw_text         5466
14                     locations         2031
15                 num_locations        14336
16                  company_type        13711
17                  year_founded        28419
18              lnk_year_founded        31304
19             short_description        14744
20              long_description        21715
21                 business_tags        24197
22                business_model        13648
23                  product_type        13648
24                naics_vertical        15183
25       naics_2022_primary_code        15398
26      naics_2022_primary_label        15398
27    naics_2022_secondary_codes        33202
28   naics_2022_secondary_labels        33202
29        main_business_category        13648
30                 main_industry        13648
31                   main_sector        13648
32                 primary_phone        10647
33                 phone_numbers        10647
34                 primary_email        26938
35                        emails        30130
36                  other_emails        32868
37                   website_url         1553
38                website_domain         1553
39                   website_tld         1553
40         website_language_code        27342
41                  facebook_url        22164
42                   twitter_url        30691
43                 instagram_url        26432
44                  linkedin_url        23246
45                   ios_app_url        33323
46               android_app_url        33308
47                   youtube_url        32304
48                    tiktok_url        33446
49                    alexa_rank        33446
50        sics_codified_industry        27785
51   sics_codified_industry_code        27785
52       sics_codified_subsector        27785
53  sics_codified_subsector_code        27785
54          sics_codified_sector        27785
55     sics_codified_sector_code        27785
56                     sic_codes        15398
57                    sic_labels        15398
58                 isic_v4_codes        15398
59                isic_v4_labels        15398
60               nace_rev2_codes        15398
61              nace_rev2_labels        15398
62                    created_at           43
63               last_updated_at           43
64       website_number_of_pages        27295
65         generated_description        13978
66       generated_business_tags        14001
67                        status            0
68                       domains        21854
69                   all_domains        21854
70                       revenue        26217
71                  revenue_type        26217
72                employee_count        24723
73           employee_count_type        24723
74           inbound_links_count        27295

In [96]:
df.describe()

,company_name,company_legal_names,company_commercial_names,main_country_code,main_country,main_region,main_city_district,main_city,main_postcode,main_street,main_street_number,main_latitude,main_longitude,main_address_raw_text,locations,num_locations,company_type,year_founded,lnk_year_founded,short_description,long_description,business_tags,business_model,product_type,naics_vertical,naics_2022_primary_code,naics_2022_primary_label,naics_2022_secondary_codes,naics_2022_secondary_labels,main_business_category,main_industry,main_sector,primary_phone,phone_numbers,primary_email,emails,other_emails,website_url,website_domain,website_tld,website_language_code,facebook_url,twitter_url,instagram_url,linkedin_url,ios_app_url,android_app_url,youtube_url,tiktok_url,alexa_rank,sics_codified_industry,sics_codified_industry_code,sics_codified_subsector,sics_codified_subsector_code,sics_codified_sector,sics_codified_sector_code,sic_codes,sic_labels,isic_v4_codes,isic_v4_labels,nace_rev2_codes,nace_rev2_labels,created_at,last_updated_at,website_number_of_pages,generated_description,generated_business_tags,status,domains,all_domains,revenue,revenue_type,employee_count,employee_count_type,inbound_links_count
count,32617,6890,28121,31415,31415,30112,5979,29602,23820,19979,17034,17031,17031,27980,31415,19110,19735,5027,2142,18702,11731,9249,19798,19798,18263,18048,18048,244,244,19798,19798,19798,22799,22799,6508,3316,578,31893,31893,31893,6104,11282,2755,7014,10200,123,138,1142,0,0,5661,5661,5661,5661,5661,5661,18048,18048,18048,18048,18048,18048,33403,33403,6151,19468,19445,33446,11592,11592,7229,7229,8723,8723,6151
unique,18715,4406,16840,137,138,953,3018,6673,10284,10304,3990,13953,13958,23434,23543,51,2,161,129,15780,10022,7256,9,10,347,690,690,153,153,540,121,34,11443,12522,5096,2814,574,16231,6613,305,41,6422,1563,3458,5780,101,114,982,0,0,72,72,37,37,11,11,629,689,443,443,455,455,25913,26110,262,18580,18082,1,7096,7096,5452,2,223,2,262
top,Fresh Burger,China Merchants Securities Co. Ltd.,Fresh Burger,US,United States,England,Manhattan,London,2000,Main Street,1,36.14420819127517,4.8900136,", Sao Paulo, State of Sao Paulo, Brazil","GB, United Kingdom, , , , , , 54.7023545, -3.2...",1,Private,2003,2017,Avangard is a bank/ATM based in Saint Petersbu...,In-person and virtual magic shows. Los Angeles...,Retail,Services,Consumer Services,Full-Service Restaurants,722511,Full-Service Restaurants,812990,All Other Personal Services,Real Estate - Agents & Managers,Restaurants,Health Care & Social Assistance,+966920022097,+966920022097,artyloon@artyloonshow.com,info@bettstruckparts.com,americasales@wasp-pfs.com,https://www.wu.to/,equmeniakyrkan.se,com,en,https://www.facebook.com/about/,https://twitter.com/en,https://www.instagram.com/artyloonshow/,https://www.linkedin.com/company/marvell,https://geo.itunes.apple.com/app/thailand-org-...,https://play.google.com/store/apps/details?id=...,https://www.youtube.com/c/ARTYLOON,NaN,NaN,Professional & Commercial Services,SV-PS,Consumer Services,SV.3,Services,SV,5812,Eating Places (full-service restaurants),8690,Other human health activities,86.9,Other human health activities,2024-07-18 07:36:17.908,2022-12-13 19:17:35.311,1,Advivision is a telecommunications consulting ...,Custom Programming Services | Software Develop...,Active,zonguitars.com,zonguitars.com,400298,modelled,15,modelled,1
freq,30,22,30,10119,10119,2599,105,357,44,140,437,11,11,37,183,17794,19724,180,102,20,22,180,12947,6960,651,651,651,9,9,440,842,2482,35,35,23,9,4,34,56,15752,3799,33,35,18,13,9,9,20,NaN,NaN,790,790,957,957,1678,1678,711,651,964,964,964,964,652,348,316,16,22,33446,7,7,23,6147,1370,4615,316

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33446 entries, 0 to 33445
Data columns (total 75 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   company_name                  32617 non-null  object
 1   company_legal_names           6890 non-null   object
 2   company_commercial_names      28121 non-null  object
 3   main_country_code             31415 non-null  object
 4   main_country                  31415 non-null  object
 5   main_region                   30112 non-null  object
 6   main_city_district            5979 non-null   object
 7   main_city                     29602 non-null  object
 8   main_postcode                 23820 non-null  object
 9   main_street                   19979 non-null  object
 10  main_street_number            17034 non-null  object
 11  main_latitude                 17031 non-null  object
 12  main_longitude                17031 non-null  object
 13  main_address_raw_text         27980 non-null  object
 14  locations                     31415 non-null  object
 15  num_locations                 19110 non-null  object
 16  company_type                  19735 non-null  object
 17  year_founded                  5027 non-null   object
 18  lnk_year_founded              2142 non-null   object
 19  short_description             18702 non-null  object
 20  long_description              11731 non-null  object
 21  business_tags                 9249 non-null   object
 22  business_model                19798 non-null  object
 23  product_type                  19798 non-null  object
 24  naics_vertical                18263 non-null  object
 25  naics_2022_primary_code       18048 non-null  object
 26  naics_2022_primary_label      18048 non-null  object
 27  naics_2022_secondary_codes    244 non-null    object
 28  naics_2022_secondary_labels   244 non-null    object
 29  main_business_category        19798 non-null  object
 30  main_industry                 19798 non-null  object
 31  main_sector                   19798 non-null  object
 32  primary_phone                 22799 non-null  object
 33  phone_numbers                 22799 non-null  object
 34  primary_email                 6508 non-null   object
 35  emails                        3316 non-null   object
 36  other_emails                  578 non-null    object
 37  website_url                   31893 non-null  object
 38  website_domain                31893 non-null  object
 39  website_tld                   31893 non-null  object
 40  website_language_code         6104 non-null   object
 41  facebook_url                  11282 non-null  object
 42  twitter_url                   2755 non-null   object
 43  instagram_url                 7014 non-null   object
 44  linkedin_url                  10200 non-null  object
 45  ios_app_url                   123 non-null    object
 46  android_app_url               138 non-null    object
 47  youtube_url                   1142 non-null   object
 48  tiktok_url                    0 non-null      object
 49  alexa_rank                    0 non-null      object
 50  sics_codified_industry        5661 non-null   object
 51  sics_codified_industry_code   5661 non-null   object
 52  sics_codified_subsector       5661 non-null   object
 53  sics_codified_subsector_code  5661 non-null   object
 54  sics_codified_sector          5661 non-null   object
 55  sics_codified_sector_code     5661 non-null   object
 56  sic_codes                     18048 non-null  object
 57  sic_labels                    18048 non-null  object
 58  isic_v4_codes                 18048 non-null  object
 59  isic_v4_labels                18048 non-null  object
 60  nace_rev2_codes               18048 non-null  object
 61  nace_rev2_labels              18048 non-null  object
 62  created_at                    33403 non-null  object
 63  last_updated_at               33403 non-null  object
 64  website_number_of_pages       6151 non-null   object
 65  generated_description         19468 non-null  object
 66  generated_business_tags       19445 non-null  object
 67  status                        33446 non-null  object
 68  domains                       11592 non-null  object
 69  all_domains                   11592 non-null  object
 70  revenue                       7229 non-null   object
 71  revenue_type                  7229 non-null   object
 72  employee_count                8723 non-null   object
 73  employee_count_type           8723 non-null   object
 74  inbound_links_count           6151 non-null   object
dtypes: object(75)
memory usage: 19.1+ MB

In [98]:
relevant_columns = ['company_name', 'main_country_code', 'main_region', 'main_city', 'main_postcode', 'main_latitude', 'main_longitude', 'locations', 
                    'company_type', 'year_founded', 'short_description', 'business_tags', 'business_model', 'product_type', 'main_sector', 'emails', 
                   'website_domain', 'sic_labels', 'status']

In [99]:
# this isn't good displayment of the data that we want
relevant_data = []
for col in relevant_columns:
    relevant_data.append(df[col])
data = pd.DataFrame({'Column' : relevant_columns, 'Value' : relevant_data})
data.head(n=7)

              Column                                              Value
0       company_name  0                                            O...
1  main_country_code  0          US
1          AU
2          CZ
3   ...
2        main_region  0                                    South Car...
3          main_city  0                                           Pa...
4      main_postcode  0              29585
1               3029
2   ...
5      main_latitude  0                  33.4798501
1               ...
6     main_longitude  0                   -79.1001306
1             ...

In [100]:
# this should be a better way to show it
data = df.copy()
for col in df.columns:
    if col not in relevant_columns:
        data.drop(col, axis=1, inplace=True)
data.head(n=6)

,company_name,main_country_code,main_region,main_city,main_postcode,main_latitude,main_longitude,locations,company_type,year_founded,short_description,business_tags,business_model,product_type,main_sector,emails,website_domain,sic_labels,status
0,Owens Liquors,US,South Carolina,Pawleys Island,29585,33.4798501,-79.1001306,"US, United States, South Carolina, Pawleys Isl...",Private,None,Owens Liquors is a beer & liquor store based i...,None,Retail,Nondurable Products,Food & Beverages,None,owensliquors.com,Grocery Stores (frozen food and freezer plan p...,Active
1,Club Tarneit,AU,Victoria,City Of Wyndham,3029,None,None,"AU, Australia, Victoria, City of Wyndham, 3029...",Private,None,Club Tarneit is a dance/night club based in Ci...,Events & Service,Services,Consumer Services,Accommodation & Food Services,None,clubtarneit.com.au,None,Active
2,AAA Auto Otrokovice Zlín,CZ,Zlín,Otrokovice,765 02,49.19930449999999,17.545311599999998,"CZ, Czechia, Zlín, Otrokovice, 765 02, Zlínská...",Private,None,AAA Auto Otrokovice Zlín is an automobile deal...,None,Retail,Durable Products,Automotive,None,aaaauto.cz,Motor Vehicle Dealers (Used Only),Active
3,Gisinger GmbH,DE,Baden-Württemberg,Ühlingen-Birkendorf,79777,47.7134802,8.285150677517294,"DE, Germany, Baden-Württemberg, Ühlingen-Birke...",None,None,None,None,None,None,None,None,None,None,Active
4,Kasana Life,US,Connecticut,Litchfield,06759,None,None,"US, United States, Connecticut, Litchfield, 06...",None,None,None,None,None,None,None,None,None,None,Active
5,BAM BROW & MAKEUP STUDIO,AU,Western Australia,Mandurah,6201,None,None,"AU, Australia, Western Australia, Mandurah, 62...",None,None,None,None,None,None,None,None,bammakeupstudio.com.au,None,Active

In [101]:
data.info()
data['company_name'].fillna(value='-', inplace=True)
data['main_country_code'].fillna(value='-', inplace=True)
data['main_region'].fillna(value='-', inplace=True)
data['main_city'].fillna(value='-', inplace=True)
data['main_postcode'].fillna(value=np.nan, inplace=True)
data['main_latitude'].fillna(value=np.nan, inplace=True)
data['main_longitude'].fillna(value=np.nan, inplace=True)
data['locations'].fillna(value='-', inplace=True)
data['year_founded'].fillna(value=np.nan, inplace=True)
data.head(n=6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33446 entries, 0 to 33445
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company_name       32617 non-null  object
 1   main_country_code  31415 non-null  object
 2   main_region        30112 non-null  object
 3   main_city          29602 non-null  object
 4   main_postcode      23820 non-null  object
 5   main_latitude      17031 non-null  object
 6   main_longitude     17031 non-null  object
 7   locations          31415 non-null  object
 8   company_type       19735 non-null  object
 9   year_founded       5027 non-null   object
 10  short_description  18702 non-null  object
 11  business_tags      9249 non-null   object
 12  business_model     19798 non-null  object
 13  product_type       19798 non-null  object
 14  main_sector        19798 non-null  object
 15  emails             3316 non-null   object
 16  website_domain     31893 non-null  object
 17  sic_labels         18048 non-null  object
 18  status             33446 non-null  object
dtypes: object(19)
memory usage: 4.8+ MB

C:\Users\stone\AppData\Local\Temp\ipykernel_11932\4156490424.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['company_name'].fillna(value='-', inplace=True)
C:\Users\stone\AppData\Local\Temp\ipykernel_11932\4156490424.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['main_country_code'].fillna(value='-', inplace=True)
C:\Users\stone\AppData\Local\Temp\ipykernel_11932\4156490424.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['main_region'].fillna(value='-', inplace=True)
C:\Users\stone\AppData\Local\Temp\ipykernel_11932\4156490424.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['main_city'].fillna(value='-', inplace=True)
C:\Users\stone\AppData\Local\Temp\ipykernel_11932\4156490424.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['main_postcode'].fillna(value=np.nan, inplace=True)
C:\Users\stone\AppData\Local\Temp\ipykernel_11932\4156490424.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['main_latitude'].fillna(value=np.nan, inplace=True)
C:\Users\stone\AppData\Local\Temp\ipykernel_11932\4156490424.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['main_longitude'].fillna(value=np.nan, inplace=True)
C:\Users\stone\AppData\Local\Temp\ipykernel_11932\4156490424.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['locations'].fillna(value='-', inplace=True)
C:\Users\stone\AppData\Local\Temp\ipykernel_11932\4156490424.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['year_founded'].fillna(value=np.nan, inplace=True)

,company_name,main_country_code,main_region,main_city,main_postcode,main_latitude,main_longitude,locations,company_type,year_founded,short_description,business_tags,business_model,product_type,main_sector,emails,website_domain,sic_labels,status
0,Owens Liquors,US,South Carolina,Pawleys Island,29585,33.4798501,-79.1001306,"US, United States, South Carolina, Pawleys Isl...",Private,NaN,Owens Liquors is a beer & liquor store based i...,None,Retail,Nondurable Products,Food & Beverages,None,owensliquors.com,Grocery Stores (frozen food and freezer plan p...,Active
1,Club Tarneit,AU,Victoria,City Of Wyndham,3029,NaN,NaN,"AU, Australia, Victoria, City of Wyndham, 3029...",Private,NaN,Club Tarneit is a dance/night club based in Ci...,Events & Service,Services,Consumer Services,Accommodation & Food Services,None,clubtarneit.com.au,None,Active
2,AAA Auto Otrokovice Zlín,CZ,Zlín,Otrokovice,765 02,49.19930449999999,17.545311599999998,"CZ, Czechia, Zlín, Otrokovice, 765 02, Zlínská...",Private,NaN,AAA Auto Otrokovice Zlín is an automobile deal...,None,Retail,Durable Products,Automotive,None,aaaauto.cz,Motor Vehicle Dealers (Used Only),Active
3,Gisinger GmbH,DE,Baden-Württemberg,Ühlingen-Birkendorf,79777,47.7134802,8.285150677517294,"DE, Germany, Baden-Württemberg, Ühlingen-Birke...",None,NaN,None,None,None,None,None,None,None,None,Active
4,Kasana Life,US,Connecticut,Litchfield,06759,NaN,NaN,"US, United States, Connecticut, Litchfield, 06...",None,NaN,None,None,None,None,None,None,None,None,Active
5,BAM BROW & MAKEUP STUDIO,AU,Western Australia,Mandurah,6201,NaN,NaN,"AU, Australia, Western Australia, Mandurah, 62...",None,NaN,None,None,None,None,None,None,bammakeupstudio.com.au,None,Active

In [102]:
data['main_postcode'] = data['main_postcode'].astype(str).str.replace(r'\D', '', regex=True)
data['main_postcode'].replace('', '0', inplace=True)
data['main_postcode'] = data['main_postcode'].astype(int)
data = data.astype({'main_latitude' : float, 'main_longitude': float})
print(data['company_type'].value_counts())
print(data['status'].value_counts())

company_type
Private    19724
Public        11
Name: count, dtype: int64
status
Active    33446
Name: count, dtype: int64

C:\Users\stone\AppData\Local\Temp\ipykernel_11932\2988934476.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['main_postcode'].replace('', '0', inplace=True)

In [103]:
data = data.drop('status', axis=1, inplace=True) # since status column has only 'Active' values meaning it's constant

In [104]:
sns.countplot(y='company_type', data=data)

ValueError: Could not interpret value `company_type` for `y`. Value is a string, but `data` was not passed.

In [107]:
# trying standardizing data but most of it is made of strings.
# I wanted to standardize only the main_postcode, main_latitude, main_longitude and maybe the main_country_code too.
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_std = scaler.fit(data)

ValueError: Expected 2D array, got scalar array instead:
array=nan.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [110]:
data.head()
from sklearn.cluster import KMeans
inertia=[]
for k in range(1, 18000):
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(data)
    inertia.append(kmeans.inertia_)
plt.plot(range(1, 18000), inertia, marker='o', markerfacecolor='r', markersize=8, lw=4)
plt.xlabel('Numar de clustere')
plt.ylabel('Inertia')

AttributeError: 'NoneType' object has no attribute 'head'